*::before,
*::after,
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
h3 {
  color: black;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 0;
}

.footer {
  display: flex;
  width: 100%;
  height: min-content;
  justify-content: center;
}

.main-container {
  display: flex;
  width: 80%;
  min-height: 500px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-about_us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-about_us-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-services-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-partners {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-partners-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#footer-email {
  width: 100%;
}

.footer-bottom {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}

.footer-bottom-images {
  display: flex;
  gap: 8px;
}

.footer-bottom-address {
  display: flex;
  justify-content: space-between;
}

.footer-bottom-t_and_c {
  padding-top: 16px;
  display: flex;
  gap: 8px;
}

.none {
  display: initial;
}
.block {
  display: initial;
}

@media (max-width: 400px) {
  .footer-top {
    flex-direction: column;
  }
  .footer-middle {
    flex-direction: column;
  }
  .footer-newsletter {
    order: -1;
  }
  .footer-bottom-address img {
    display: none;
  }
  .none {
    display: none;
  }
  .block {
    display: block;
  }
}

#test *:hover {
  color: red;
}
